@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;700&display=swap');

:root {
  --clr-primary: hsl(180, 29%, 50%);
  --clr-background: hsl(180, 52%, 96%);
  --clr-tags: hsl(180, 31%, 95%);
  --clr-dark-gray-cyan: hsl(180, 8%, 52%);
  --clr-very-dark-gray-cyan: hsl(180, 14%, 20%);
  --shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --font-bold: 700;
  --transition: all .3s linear;
  --radius: .25rem;
}

* {
  box-sizing: border-box;
  font-size: 15px;
  font-family: 'Spartan', sans-serif;
}

body {
  margin: 0;
  background-color: var(--clr-primary);
  background-image: url("../public/images/bg-header-mobile.svg");
}

@media (min-width: 768px) {

  body {
    background-image: url("../public/images/bg-header-desktop.svg");
  }
  
}

main {
  display: grid;
  place-content: center;
  margin-top: 10rem;
  background-color: var(--clr-background);
}

hr {
  border: none;
  height: 1px;
  background-color: #e3e3e3;
}

/* Jobs component */

.job-list {
  display: flex;
  flex-direction: column;
  width: 95vw;
  max-width: 1100px;
  margin-bottom: 6rem;
}

 /* Job component */

.job {
  background-color: #fff;
  margin: 1.25rem 0;
  padding: 1rem;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
}

.job--featured {
  border-left: 5px var(--clr-primary) solid;
}

@media (min-width: 768px) {

  .job {
    display: flex;
    align-content: center;
  }

  hr {
    display: none;
  }

}

.job > * {
  flex-basis: 100%;
}

.job__header {
  display: flex;
  flex-direction: column;
  margin-left: .5rem;
  max-width: 450px;
}

.job__logo {
  height: 3rem;
  width: 3rem;
  display: grid;
  place-content: center;
  border-radius: 50%;
  transform: translateY(-75%);
  margin-bottom: -1.5rem;
}

@media (min-width: 768px) {
  
  .job__header {
    flex-direction: row;
    padding: 1.25rem 0 .5rem;
  }

  .job__logo {
    transform: translateY(0%);
    height: 6rem;
    width: 6rem;
    margin: 0 1.2rem;
  }
}

.job__highlight {
  display: flex;
  align-items: baseline;
}

.job__company {
  color: var(--clr-primary);
  font-weight: var(--font-bold);
  margin-bottom: .75rem;
}

.job__new {
  color: #fff;
  background-color: var(--clr-primary);
  font-weight: var(--font-bold);
  font-size: .8rem;
  margin: 0 1rem;
  padding: .25rem .5rem;
  border-radius: 1rem;
}

.job__featured {
  color: #fff;
  background-color: var(--clr-very-dark-gray-cyan);
  font-weight: var(--font-bold);
  font-size: .8rem;
  padding: .25rem .5rem;
  border-radius: 1rem;
}

.job__position {
  font-weight: var(--font-bold);
  font-size: 1.1rem;
}

.job__details {
  display: flex;
  justify-content: left;
  color: var(--clr-dark-gray-cyan);
  padding-left: 0;
}

.job__details li:first-child {
  list-style: none;
}

.job__details li {
  margin-right: 1.5rem;
}

.job__tags {
  display: flex;
  flex-wrap: wrap;
  color: var(--clr-primary);
  font-weight: var(--font-bold);
}

@media (min-width: 768px) {
  
  .job__tags {
    justify-content: flex-end;
    align-items: center;
  }

}

.job__tags > div {
  margin: .5rem 1rem;
  height: 2rem;
  padding: .5rem;
  background-color: var(--clr-tags);
  border-radius: var(--radius);
  font-size: .9rem;
  cursor: pointer;
  transition: var(--transition);
}

.job__tags > div:hover {
  background-color: var(--clr-primary);
  color: #fff;
}

/* Filter component */

.filter {
  background-color: #fff;
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-between;
  padding: .5rem;
  transform: translateY(-50%);
  max-width: 1100px;
  width: 95vw;
}

.filter__item-list {
  display: flex;
  flex-wrap: wrap;
}

.filter__item {
  background-color: var(--clr-tags);
  color: var(--clr-primary);
  font-weight: var(--font-bold);
  display: flex;
  justify-content: space-between;
  min-width: 5rem;
  border-radius: var(--radius);
  height: 2rem;
  margin: 1rem;
}

.filter__item div {
  padding: .5rem;
}

.filter__item button {
  border: none;
  border-radius: 0 .25rem .25rem 0;
  background-color: var(--clr-primary);
  background-image: url("../public/images/icon-remove.svg");
  background-size: .8;
  background-repeat: no-repeat;
  background-position: center;
  padding: 1rem;
  margin-left: 1rem;
  transition: var(--transition);
  cursor: pointer;
}

.filter__item button:hover {
  background-color: var(--clr-very-dark-gray-cyan);
}

.filter__close {
  border: none;
  background-color: inherit;
  cursor: pointer;
  color: var(--clr-dark-gray-cyan);
  font-weight: var(--font-bold);
  transition: var(--transition);
}

.filter__close:hover {
  color: var(--clr-primary);
  border-bottom: 1px solid var(--clr-primary);
}